[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LineagePulse"]
	path = LineagePulse
	url = https://github.com/yoseflab/lineagepulse
[submodule "MPRAnalyze"]
	path = MPRAnalyze
	url = https://github.com/yoseflab/mpranalyze
[submodule "scone"]
	path = scone
	url = https://github.com/yoseflab/scone
