[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scone"]
	path = scone
	url = https://github.com/yoseflab/scone
	shallow = true
	registered = true
